In [12]:
import numpy as np
import pandas as pd

In [13]:
dic={
    "Name":["Ram", "Shyam", "Sameer", "Kajal", "Irfan", "Riya"],
    "Roll no":[1,2,3,4,5,6],
    "Grades":["A","B","C","A","B","A"],
    "Email":["abc@xyz.com", "def@abc.com", "igh@def.com", "lmn@opq.com", "rsj@omn.com", "bgm@kyf.com"]
}
dic

{'Name': ['Ram', 'Shyam', 'Sameer', 'Kajal', 'Irfan', 'Riya'],
 'Roll no': [1, 2, 3, 4, 5, 6],
 'Grades': ['A', 'B', 'C', 'A', 'B', 'A'],
 'Email': ['abc@xyz.com',
  'def@abc.com',
  'igh@def.com',
  'lmn@opq.com',
  'rsj@omn.com',
  'bgm@kyf.com']}

In [14]:
df = pd.DataFrame(dic)
df

     Name  Roll no Grades        Email
0     Ram        1      A  abc@xyz.com
1   Shyam        2      B  def@abc.com
2  Sameer        3      C  igh@def.com
3   Kajal        4      A  lmn@opq.com
4   Irfan        5      B  rsj@omn.com
5    Riya        6      A  bgm@kyf.com

In [16]:
df.head(2)

    Name  Roll no Grades        Email
0    Ram        1      A  abc@xyz.com
1  Shyam        2      B  def@abc.com

In [18]:
df.tail(3)

    Name  Roll no Grades        Email
3  Kajal        4      A  lmn@opq.com
4  Irfan        5      B  rsj@omn.com
5   Riya        6      A  bgm@kyf.com

In [19]:
df.describe()

        Roll no
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [2]:
import numpy as np
import pandas as pd
cus = pd.read_csv('customer.csv')
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [3]:
type(cus)

pandas.core.frame.DataFrame

In [6]:
type(cus['CustomerID'])

pandas.core.series.Series

In [7]:
cus.index

RangeIndex(start=0, stop=91, step=1)

In [8]:
cus.columns

Index(['CustomerID', 'Company Name', 'Costumer Name', 'City', 'PostalCode',
       'Country'],
      dtype='object')

In [9]:
cus.to_numpy()

array([[1, 'Alfreds Futterkiste', 'Maria Anders', 'Berlin', 12209,
        'Germany'],
       [2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo',
        'Mexico D.F.', 5021, 'Mexico'],
       [3, 'Antonio Moreno Taqueria', 'Antonio Moreno', 'Mexico D.F.',
        5023, 'Mexico'],
       [4, 'Around the Horn', 'Thomas Hardy', 'London', 34626, 'UK'],
       [5, 'Berglunds snabbkp', 'Christina Berglund', 'Lulea', 95822,
        'Sweden'],
       [6, 'Blauer See Delikatessen', 'Hanna Moos', 'Mannheim', 68306,
        'Germany'],
       [7, 'Blondel pere et fils', 'Frederique Citeaux', 'Strasbourg',
        67000, 'France'],
       [8, 'BOlido Comidas preparadas', 'Martin Sommer', 'Madrid', 28023,
        'Spain'],
       [9, 'Bon app', 'Laurence Lebihans', 'Marseille', 13008, 'France'],
       [10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', 'Tsawassen',
        254685, 'Canada'],
       [11, 'Bs Beverages', 'Victoria Ashworth', 'London', 13546, 'UK'],
       [12, 'Cactus Comidas para llevar', 'Patricio Simpson',
        'Buenos Aires', 1010, 'Argentina'],
       [13, 'Centro comercial Moctezuma', 'Francisco Chang',
        'Mexico D.F.', 5022, 'Mexico'],
       [14, 'Chop-suey Chinese', 'Yang Wang', 'Bern', 3012,
        'Switzerland'],
       [15, 'Comercio Mineiro', 'Pedro Afonso', 'Sao Paulo', 6565,
        'Brazil'],
       [16, 'Consolidated Holdings', 'Elizabeth Brown', 'London', 541684,
        'UK'],
       [17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Aachen', 52066,
        'Germany'],
       [18, 'Du monde entier', 'Janine Labrune', 'Nantes', 44000,
        'France'],
       [19, 'Eastern Connection', 'Ann Devon', 'London', 546, 'UK'],
       [20, 'Ernst Handel', 'Roland Mendel', 'Graz', 8010, 'Austria'],
       [21, 'Familia Arquibaldo', 'Aria Cruz', 'Sao Paulo', 4984,
        'Brazil'],
       [22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel',
        'Madrid', 28034, 'Spain'],
       [23, 'Folies gourmandes', 'Martine Rance', 'Lille', 59000,
        'France'],
       [24, 'Folk och fa HB', 'Maria Larsson', 'Bracke', 96825, 'Sweden'],
       [25, 'Frankenversand', 'Peter Franken', 'Mnchen', 80805,
        'Germany'],
       [26, 'France restauration', 'Carine Schmitt', 'Nantes', 44000,
        'France'],
       [27, 'Franchi S.p.A.', 'Paolo Accorti', 'Torino', 10100, 'Italy'],
       [28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Lisboa',
        1675, 'Portugal'],
       [29, 'Galeria del gastrOnomo', 'Eduardo Saavedra', 'Barcelona',
        8022, 'Spain'],
       [30, 'Godos Cocina Tipica', 'Jose Pedro Freyre', 'Sevilla', 41101,
        'Spain'],
       [31, 'Gourmet Lanchonetes', 'Andre Fonseca', 'Campinas', 76951,
        'Brazil'],
       [32, 'Great Lakes Food Market', 'Howard Snyder', 'Eugene', 97403,
        'USA'],
       [33, 'GROSELLA-Restaurante', 'Manuel Pereira', 'Caracas', 1081,
        'Venezuela'],
       [34, 'Hanari Carnes', 'Mario Pontes', 'Rio de Janeiro', 5454,
        'Brazil'],
       [35, 'HILARION-Abastos', 'Carlos Hernandez', 'San CristObal',
        5022, 'Venezuela'],
       [36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Elgin',
        97827, 'USA'],
       [37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', 'Cork',
        18845, 'Ireland'],
       [38, 'Island Trading', 'Helen Bennett', 'Cowes', 84624, 'UK'],
       [39, 'Koniglich Essen', 'Philip Cramer', 'Brandenburg', 14776,
        'Germany'],
       [40, 'La corne dabondance', 'Daniel Tonini', 'Versailles', 78000,
        'France'],
       [41, 'La maison dAsie', 'Annette Roulet', 'Toulouse', 31000,
        'France'],
       [42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri',
        'Vancouver', 41562, 'Canada'],
       [43, 'Lazy K Kountry Store', 'John Steel', 'Walla Walla', 99362,
        'USA'],
       [44, 'Lehmanns Marktstand', 'Renate Messner', 'Frankfurt a.M.',
        60528, 'Germany'],
       [45, 'Lets Stop N Shop', 'Jaime Yorres', 'San Francisco', 94117,
        'USA'],
       [46, 'LILA-Supermercado', 'Carlos Gonzalez', 'Barquisimeto', 3508,
        'Venezuela'],
       [47, 'LINO-Delicateses', 'Felipe Izquierdo', 'I. de Margarita',
        4980, 'Venezuela'],
       [48, 'Lonesome Pine Restaurant', 'Fran Wilson', 'Portland', 97219,
        'USA'],
       [49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli',
        'Bergamo', 24100, 'Italy'],
       [50, 'Maison Dewey', 'Catherine Dewey', 'Bruxelles', 21365,
        'Belgium'],
       [51, 'Mere Paillarde', 'Jean Fresniere', 'Montreal', 69162,
        'Canada'],
       [52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Leipzig', 4179,
        'Germany'],
       [53, 'North/South', 'Simon Crowther', 'London', 196215, 'UK'],
       [54, 'Oceano Atlantico Ltda.', 'Yvonne Moncada', 'Buenos Aires',
        1010, 'Argentina'],
       [55, 'Old World Delicatessen', 'Rene Phillips', 'Anchorage',
        99508, 'USA'],
       [56, 'Ottilies Kaseladen', 'Henriette Pfalzheim', 'Koln', 50739,
        'Germany'],
       [57, 'Paris specialites', 'Marie Bertrand', 'Paris', 75012,
        'France'],
       [58, 'Pericles Comidas clasicas', 'Guillermo Fernandez',
        'Mexico D.F.', 5033, 'Mexico'],
       [59, 'Piccolo und mehr', 'Georg Pipps', 'Salzburg', 5020,
        'Austria'],
       [60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Lisboa',
        1756, 'Portugal'],
       [61, 'Que Delicia', 'Bernardo Batista', 'Rio de Janeiro', 816466,
        'Brazil'],
       [62, 'Queen Cozinha', 'Lucia Carvalho', 'Sao Paulo', 851306,
        'Brazil'],
       [63, 'QUICK-Stop', 'Horst Kloss', 'Cunewalde', 1307, 'Germany'],
       [64, 'Rancho grande', 'Sergio Gutierrez', 'Buenos Aires', 1010,
        'Argentina'],
       [65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Albuquerque',
        87110, 'USA'],
       [66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Reggio Emilia',
        42100, 'Italy'],
       [67, 'Ricardo Adocicados', 'Janete Limeira', 'Rio de Janeiro',
        84646, 'Brazil'],
       [68, 'Richter Supermarkt', 'Michael Holz', 'Geneve', 1203,
        'Switzerland'],
       [69, 'Romero y tomillo', 'Alejandra Camino', 'Madrid', 28001,
        'Spain'],
       [70, 'Sante Gourmet', 'Jonas Bergulfsen', 'Stavern', 4110,
        'Norway'],
       [71, 'Save-a-lot Markets', 'Jose Pavarotti', 'Boise', 83720,
        'USA'],
       [72, 'Seven Seas Imports', 'Hari Kumar', 'London', 85114, 'UK'],
       [73, 'Simons bistro', 'Jytte Petersen', 'Kbenhavn', 1734,
        'Denmark'],
       [74, 'Specialites du monde', 'Dominique Perrier', 'Paris', 75016,
        'France'],
       [75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Lander',
        82520, 'USA'],
       [76, 'Supremes delices', 'Pascale Cartrain', 'Charleroi', 21564,
        'Belgium'],
       [77, 'The Big Cheese', 'Liz Nixon', 'Portland', 97201, 'USA'],
       [78, 'The Cracker Box', 'Liu Wong', 'Butte', 59801, 'USA'],
       [79, 'Toms Spezialitaten', 'Karin Josephs', 'Münster', 44087,
        'Germany'],
       [80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Mexico D.F.',
        5033, 'Mexico'],
       [81, 'Tradicao Hipermercados', 'Anabela Domingues', 'Sao Paulo',
        51398, 'Brazil'],
       [82, 'Trails Head Gourmet Provisioners', 'Helvetius Nagy',
        'Kirkland', 98034, 'USA'],
       [83, 'Vaffeljernet', 'Palle Ibsen', 'rhus', 8200, 'Denmark'],
       [84, 'Victuailles en stock', 'Mary Saveley', 'Lyon', 69004,
        'France'],
       [85, 'Vins et alcools Chevalier', 'Paul Henriot', 'Reims', 51100,
        'France'],
       [86, 'Die Wandernde Kuh', 'Rita Müller', 'Stuttgart', 70563,
        'Germany'],
       [87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Oulu', 90110,
        'Finland'],
       [88, 'Wellington Importadora', 'Paula Parente', 'Resende', 51849,
        'Brazil'],
       [89, 'White Clover Markets', 'Karl Jablonski', 'Seattle', 98128,
        'USA'],
       [90, 'Wilman Kala', 'Matti Karttunen', 'Helsinki', 21240,
        'Finland'],
       [91, 'Wolski', 'Zbyszek', 'Walla', 56189, 'Poland']], dtype=object)

In [10]:
cus.T

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
CustomerID,1,2,3,4,5,6,7,8,9,10,...,82,83,84,85,86,87,88,89,90,91
Company Name,Alfreds Futterkiste,Ana Trujillo Emparedados y helados,Antonio Moreno Taqueria,Around the Horn,Berglunds snabbkp,Blauer See Delikatessen,Blondel pere et fils,BOlido Comidas preparadas,Bon app,Bottom-Dollar Marketse,...,Trails Head Gourmet Provisioners,Vaffeljernet,Victuailles en stock,Vins et alcools Chevalier,Die Wandernde Kuh,Wartian Herkku,Wellington Importadora,White Clover Markets,Wilman Kala,Wolski
Costumer Name,Maria Anders,Ana Trujillo,Antonio Moreno,Thomas Hardy,Christina Berglund,Hanna Moos,Frederique Citeaux,Martin Sommer,Laurence Lebihans,Elizabeth Lincoln,...,Helvetius Nagy,Palle Ibsen,Mary Saveley,Paul Henriot,Rita Müller,Pirkko Koskitalo,Paula Parente,Karl Jablonski,Matti Karttunen,Zbyszek
City,Berlin,Mexico D.F.,Mexico D.F.,London,Lulea,Mannheim,Strasbourg,Madrid,Marseille,Tsawassen,...,Kirkland,rhus,Lyon,Reims,Stuttgart,Oulu,Resende,Seattle,Helsinki,Walla
PostalCode,12209,5021,5023,34626,95822,68306,67000,28023,13008,254685,...,98034,8200,69004,51100,70563,90110,51849,98128,21240,56189
Country,Germany,Mexico,Mexico,UK,Sweden,Germany,France,Spain,France,Canada,...,USA,Denmark,France,France,Germany,Finland,Brazil,USA,Finland,Poland

In [11]:
cus.drop(0)

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Mannheim,68306,Germany
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [12]:
cus.drop(3)

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Mannheim,68306,Germany
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [16]:
import numpy as np
import pandas as pd
cus = pd.read_csv('customer.csv')

cus.loc[(48,78),('Company Name','Costumer Name')]

                    Company Name     Costumer Name
48  Magazzini Alimentari Riuniti  Giovanni Rovelli
78            Toms Spezialitaten     Karin Josephs

In [21]:
np.array(cus.loc[:,'Company Name'])

array(['Alfreds Futterkiste', 'Ana Trujillo Emparedados y helados',
       'Antonio Moreno Taqueria', 'Around the Horn', 'Berglunds snabbkp',
       'Blauer See Delikatessen', 'Blondel pere et fils',
       'BOlido Comidas preparadas', 'Bon app', 'Bottom-Dollar Marketse',
       'Bs Beverages', 'Cactus Comidas para llevar',
       'Centro comercial Moctezuma', 'Chop-suey Chinese',
       'Comercio Mineiro', 'Consolidated Holdings',
       'Drachenblut Delikatessend', 'Du monde entier',
       'Eastern Connection', 'Ernst Handel', 'Familia Arquibaldo',
       'FISSA Fabrica Inter. Salchichas S.A.', 'Folies gourmandes',
       'Folk och fa HB', 'Frankenversand', 'France restauration',
       'Franchi S.p.A.', 'Furia Bacalhau e Frutos do Mar',
       'Galeria del gastrOnomo', 'Godos Cocina Tipica',
       'Gourmet Lanchonetes', 'Great Lakes Food Market',
       'GROSELLA-Restaurante', 'Hanari Carnes', 'HILARION-Abastos',
       'Hungry Coyote Import Store', 'Hungry Owl All-Night Grocers',
       'Island Trading', 'Koniglich Essen', 'La corne dabondance',
       'La maison dAsie', 'Laughing Bacchus Wine Cellars',
       'Lazy K Kountry Store', 'Lehmanns Marktstand', 'Lets Stop N Shop',
       'LILA-Supermercado', 'LINO-Delicateses',
       'Lonesome Pine Restaurant', 'Magazzini Alimentari Riuniti',
       'Maison Dewey', 'Mere Paillarde', 'Morgenstern Gesundkost',
       'North/South', 'Oceano Atlantico Ltda.', 'Old World Delicatessen',
       'Ottilies Kaseladen', 'Paris specialites',
       'Pericles Comidas clasicas', 'Piccolo und mehr',
       'Princesa Isabel Vinhoss', 'Que Delicia', 'Queen Cozinha',
       'QUICK-Stop', 'Rancho grande', 'Rattlesnake Canyon Grocery',
       'Reggiani Caseifici', 'Ricardo Adocicados', 'Richter Supermarkt',
       'Romero y tomillo', 'Sante Gourmet', 'Save-a-lot Markets',
       'Seven Seas Imports', 'Simons bistro', 'Specialites du monde',
       'Split Rail Beer & Ale', 'Supremes delices', 'The Big Cheese',
       'The Cracker Box', 'Toms Spezialitaten', 'Tortuga Restaurante',
       'Tradicao Hipermercados', 'Trails Head Gourmet Provisioners',
       'Vaffeljernet', 'Victuailles en stock',
       'Vins et alcools Chevalier', 'Die Wandernde Kuh', 'Wartian Herkku',
       'Wellington Importadora', 'White Clover Markets', 'Wilman Kala',
       'Wolski'], dtype=object)

In [25]:
CN=cus.loc[:,'Company Name']
CN

0                    Alfreds Futterkiste
1     Ana Trujillo Emparedados y helados
2                Antonio Moreno Taqueria
3                        Around the Horn
4                      Berglunds snabbkp
                     ...
86                        Wartian Herkku
87                Wellington Importadora
88                  White Clover Markets
89                           Wilman Kala
90                                Wolski
Name: Company Name, Length: 91, dtype: object

In [28]:
employees = [
    {"company": "TechCorp", "employee": "Alice Johnson", "position": "Software Engineer"},
    {"company": "InnovateX", "employee": "Bob Smith", "position": "Data Scientist"},
    {"company": "HealthPlus", "employee": "Carol White", "position": "Project Manager"},
    {"company": "GreenEnergy", "employee": "David Brown", "position": "Electrical Engineer"},
    {"company": "EduSmart", "employee": "Eve Davis", "position": "Curriculum Developer"},
    {"company": "FinSecure", "employee": "Frank Harris", "position": "Financial Analyst"},
    {"company": "AutoDrive", "employee": "Grace Lee", "position": "Mechanical Engineer"},
    {"company": "BuildRight", "employee": "Henry Wilson", "position": "Architect"},
    {"company": "MediCare", "employee": "Ivy Martinez", "position": "Nurse Practitioner"},
    {"company": "FarmFresh", "employee": "Jack Robinson", "position": "Agricultural Scientist"},
    {"company": "BrightFuture", "employee": "Kate Walker", "position": "HR Manager"},
    {"company": "CloudNet", "employee": "Liam Young", "position": "Network Engineer"},
    {"company": "TravelEase", "employee": "Mia King", "position": "Travel Consultant"},
    {"company": "SafeGuard", "employee": "Noah Scott", "position": "Security Analyst"},
    {"company": "QuickFix", "employee": "Olivia Moore", "position": "Customer Support Specialist"},
    {"company": "HealthyLife", "employee": "Paul Adams", "position": "Nutritionist"},
    {"company": "TechNova", "employee": "Quincy Baker", "position": "DevOps Engineer"},
    {"company": "EconoMart", "employee": "Rachel Green", "position": "Store Manager"},
    {"company": "UrbanDev", "employee": "Sam Carter", "position": "Urban Planner"},
    {"company": "MediaBuzz", "employee": "Tina Rogers", "position": "Content Writer"},
    {"company": "GameWorld", "employee": "Uma Sanchez", "position": "Game Developer"},
    {"company": "FreshFoods", "employee": "Victor Reed", "position": "Chef"},
    {"company": "SolarBright", "employee": "Wendy Cook", "position": "Solar Technician"},
    {"company": "FitWell", "employee": "Xavier Bell", "position": "Fitness Trainer"},
    {"company": "SmartTech", "employee": "Yara Murphy", "position": "IT Support Specialist"},
    {"company": "AquaPure", "employee": "Zachary Russell", "position": "Water Quality Engineer"},
    {"company": "GreenThumb", "employee": "Aiden Coleman", "position": "Landscape Designer"},
    {"company": "BrightMinds", "employee": "Brooke Hayes", "position": "Educational Consultant"},
    {"company": "MoveFast", "employee": "Caleb Jenkins", "position": "Logistics Manager"},
    {"company": "SoundWave", "employee": "Diana Perez", "position": "Audio Engineer"},
    {"company": "StyleHouse", "employee": "Ethan Kelly", "position": "Fashion Designer"},
    {"company": "BuildStrong", "employee": "Fiona Brooks", "position": "Construction Manager"},
    {"company": "PureHealth", "employee": "Gavin Powell", "position": "Pharmacist"},
    {"company": "TechGear", "employee": "Hannah Foster", "position": "Product Manager"},
    {"company": "SkyHigh", "employee": "Isaac Barnes", "position": "Aerospace Engineer"},
    {"company": "PlayTime", "employee": "Jade Kim", "position": "Toy Designer"},
    {"company": "CleanSweep", "employee": "Kyle Ortiz", "position": "Janitorial Supervisor"},
    {"company": "BioGen", "employee": "Lila Murray", "position": "Biochemist"},
    {"company": "AutoMotive", "employee": "Mason Daniels", "position": "Auto Mechanic"},
    {"company": "SmartHome", "employee": "Nina Foster", "position": "Home Automation Specialist"},
    {"company": "DataInsight", "employee": "Oscar Hayes", "position": "Data Analyst"},
    {"company": "MegaStore", "employee": "Paula Carter", "position": "Retail Sales Associate"},
    {"company": "BrightPath", "employee": "Quinton Price", "position": "Career Counselor"},
    {"company": "HealthWave", "employee": "Riley Jenkins", "position": "Physical Therapist"},
    {"company": "FoodieHaven", "employee": "Sophia Mitchell", "position": "Pastry Chef"},
    {"company": "EcoSolutions", "employee": "Tyler James", "position": "Environmental Scientist"},
    {"company": "BrightLights", "employee": "Ursula Reed", "position": "Lighting Technician"},
    {"company": "StyleElite", "employee": "Victoria Grant", "position": "Stylist"},
    {"company": "TechSavvy", "employee": "William Gray", "position": "Systems Administrator"}
]
employees

[{'company': 'TechCorp',
  'employee': 'Alice Johnson',
  'position': 'Software Engineer'},
 {'company': 'InnovateX',
  'employee': 'Bob Smith',
  'position': 'Data Scientist'},
 {'company': 'HealthPlus',
  'employee': 'Carol White',
  'position': 'Project Manager'},
 {'company': 'GreenEnergy',
  'employee': 'David Brown',
  'position': 'Electrical Engineer'},
 {'company': 'EduSmart',
  'employee': 'Eve Davis',
  'position': 'Curriculum Developer'},
 {'company': 'FinSecure',
  'employee': 'Frank Harris',
  'position': 'Financial Analyst'},
 {'company': 'AutoDrive',
  'employee': 'Grace Lee',
  'position': 'Mechanical Engineer'},
 {'company': 'BuildRight',
  'employee': 'Henry Wilson',
  'position': 'Architect'},
 {'company': 'MediCare',
  'employee': 'Ivy Martinez',
  'position': 'Nurse Practitioner'},
 {'company': 'FarmFresh',
  'employee': 'Jack Robinson',
  'position': 'Agricultural Scientist'},
 {'company': 'BrightFuture',
  'employee': 'Kate Walker',
  'position': 'HR Manager'},
 {'company': 'CloudNet',
  'employee': 'Liam Young',
  'position': 'Network Engineer'},
 {'company': 'TravelEase',
  'employee': 'Mia King',
  'position': 'Travel Consultant'},
 {'company': 'SafeGuard',
  'employee': 'Noah Scott',
  'position': 'Security Analyst'},
 {'company': 'QuickFix',
  'employee': 'Olivia Moore',
  'position': 'Customer Support Specialist'},
 {'company': 'HealthyLife',
  'employee': 'Paul Adams',
  'position': 'Nutritionist'},
 {'company': 'TechNova',
  'employee': 'Quincy Baker',
  'position': 'DevOps Engineer'},
 {'company': 'EconoMart',
  'employee': 'Rachel Green',
  'position': 'Store Manager'},
 {'company': 'UrbanDev',
  'employee': 'Sam Carter',
  'position': 'Urban Planner'},
 {'company': 'MediaBuzz',
  'employee': 'Tina Rogers',
  'position': 'Content Writer'},
 {'company': 'GameWorld',
  'employee': 'Uma Sanchez',
  'position': 'Game Developer'},
 {'company': 'FreshFoods', 'employee': 'Victor Reed', 'position': 'Chef'},
 {'company': 'SolarBright',
  'employee': 'Wendy Cook',
  'position': 'Solar Technician'},
 {'company': 'FitWell',
  'employee': 'Xavier Bell',
  'position': 'Fitness Trainer'},
 {'company': 'SmartTech',
  'employee': 'Yara Murphy',
  'position': 'IT Support Specialist'},
 {'company': 'AquaPure',
  'employee': 'Zachary Russell',
  'position': 'Water Quality Engineer'},
 {'company': 'GreenThumb',
  'employee': 'Aiden Coleman',
  'position': 'Landscape Designer'},
 {'company': 'BrightMinds',
  'employee': 'Brooke Hayes',
  'position': 'Educational Consultant'},
 {'company': 'MoveFast',
  'employee': 'Caleb Jenkins',
  'position': 'Logistics Manager'},
 {'company': 'SoundWave',
  'employee': 'Diana Perez',
  'position': 'Audio Engineer'},
 {'company': 'StyleHouse',
  'employee': 'Ethan Kelly',
  'position': 'Fashion Designer'},
 {'company': 'BuildStrong',
  'employee': 'Fiona Brooks',
  'position': 'Construction Manager'},
 {'company': 'PureHealth',
  'employee': 'Gavin Powell',
  'position': 'Pharmacist'},
 {'company': 'TechGear',
  'employee': 'Hannah Foster',
  'position': 'Product Manager'},
 {'company': 'SkyHigh',
  'employee': 'Isaac Barnes',
  'position': 'Aerospace Engineer'},
 {'company': 'PlayTime', 'employee': 'Jade Kim', 'position': 'Toy Designer'},
 {'company': 'CleanSweep',
  'employee': 'Kyle Ortiz',
  'position': 'Janitorial Supervisor'},
 {'company': 'BioGen', 'employee': 'Lila Murray', 'position': 'Biochemist'},
 {'company': 'AutoMotive',
  'employee': 'Mason Daniels',
  'position': 'Auto Mechanic'},
 {'company': 'SmartHome',
  'employee': 'Nina Foster',
  'position': 'Home Automation Specialist'},
 {'company': 'DataInsight',
  'employee': 'Oscar Hayes',
  'position': 'Data Analyst'},
 {'company': 'MegaStore',
  'employee': 'Paula Carter',
  'position': 'Retail Sales Associate'},
 {'company': 'BrightPath',
  'employee': 'Quinton Price',
  'position': 'Career Counselor'},
 {'company': 'HealthWave',
  'employee': 'Riley Jenkins',
  'position': 'Physical Therapist'},
 {'company': 'FoodieHaven',
  'employee': 'Sophia Mitchell',
  'position': 'Pastry Chef'},
 {'company': 'EcoSolutions',
  'employee': 'Tyler James',
  'position': 'Environmental Scientist'},
 {'company': 'BrightLights',
  'employee': 'Ursula Reed',
  'position': 'Lighting Technician'},
 {'company': 'StyleElite',
  'employee': 'Victoria Grant',
  'position': 'Stylist'},
 {'company': 'TechSavvy',
  'employee': 'William Gray',
  'position': 'Systems Administrator'}]

In [29]:
cd = pd.DataFrame(employees)
cd

         company         employee                     position
0       TechCorp    Alice Johnson            Software Engineer
1      InnovateX        Bob Smith               Data Scientist
2     HealthPlus      Carol White              Project Manager
3    GreenEnergy      David Brown          Electrical Engineer
4       EduSmart        Eve Davis         Curriculum Developer
5      FinSecure     Frank Harris            Financial Analyst
6      AutoDrive        Grace Lee          Mechanical Engineer
7     BuildRight     Henry Wilson                    Architect
8       MediCare     Ivy Martinez           Nurse Practitioner
9      FarmFresh    Jack Robinson       Agricultural Scientist
10  BrightFuture      Kate Walker                   HR Manager
11      CloudNet       Liam Young             Network Engineer
12    TravelEase         Mia King            Travel Consultant
13     SafeGuard       Noah Scott             Security Analyst
14      QuickFix     Olivia Moore  Customer Support Specialist
15   HealthyLife       Paul Adams                 Nutritionist
16      TechNova     Quincy Baker              DevOps Engineer
17     EconoMart     Rachel Green                Store Manager
18      UrbanDev       Sam Carter                Urban Planner
19     MediaBuzz      Tina Rogers               Content Writer
20     GameWorld      Uma Sanchez               Game Developer
21    FreshFoods      Victor Reed                         Chef
22   SolarBright       Wendy Cook             Solar Technician
23       FitWell      Xavier Bell              Fitness Trainer
24     SmartTech      Yara Murphy        IT Support Specialist
25      AquaPure  Zachary Russell       Water Quality Engineer
26    GreenThumb    Aiden Coleman           Landscape Designer
27   BrightMinds     Brooke Hayes       Educational Consultant
28      MoveFast    Caleb Jenkins            Logistics Manager
29     SoundWave      Diana Perez               Audio Engineer
30    StyleHouse      Ethan Kelly             Fashion Designer
31   BuildStrong     Fiona Brooks         Construction Manager
32    PureHealth     Gavin Powell                   Pharmacist
33      TechGear    Hannah Foster              Product Manager
34       SkyHigh     Isaac Barnes           Aerospace Engineer
35      PlayTime         Jade Kim                 Toy Designer
36    CleanSweep       Kyle Ortiz        Janitorial Supervisor
37        BioGen      Lila Murray                   Biochemist
38    AutoMotive    Mason Daniels                Auto Mechanic
39     SmartHome      Nina Foster   Home Automation Specialist
40   DataInsight      Oscar Hayes                 Data Analyst
41     MegaStore     Paula Carter       Retail Sales Associate
42    BrightPath    Quinton Price             Career Counselor
43    HealthWave    Riley Jenkins           Physical Therapist
44   FoodieHaven  Sophia Mitchell                  Pastry Chef
45  EcoSolutions      Tyler James      Environmental Scientist
46  BrightLights      Ursula Reed          Lighting Technician
47    StyleElite   Victoria Grant                      Stylist
48     TechSavvy     William Gray        Systems Administrator

In [32]:
cd.T

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
company,TechCorp,InnovateX,HealthPlus,GreenEnergy,EduSmart,FinSecure,AutoDrive,BuildRight,MediCare,FarmFresh,...,SmartHome,DataInsight,MegaStore,BrightPath,HealthWave,FoodieHaven,EcoSolutions,BrightLights,StyleElite,TechSavvy
employee,Alice Johnson,Bob Smith,Carol White,David Brown,Eve Davis,Frank Harris,Grace Lee,Henry Wilson,Ivy Martinez,Jack Robinson,...,Nina Foster,Oscar Hayes,Paula Carter,Quinton Price,Riley Jenkins,Sophia Mitchell,Tyler James,Ursula Reed,Victoria Grant,William Gray
position,Software Engineer,Data Scientist,Project Manager,Electrical Engineer,Curriculum Developer,Financial Analyst,Mechanical Engineer,Architect,Nurse Practitioner,Agricultural Scientist,...,Home Automation Specialist,Data Analyst,Retail Sales Associate,Career Counselor,Physical Therapist,Pastry Chef,Environmental Scientist,Lighting Technician,Stylist,Systems Administrator

In [34]:
cd.drop_duplicates(subset='company',keep=False)

         company         employee                     position
0       TechCorp    Alice Johnson            Software Engineer
1      InnovateX        Bob Smith               Data Scientist
2     HealthPlus      Carol White              Project Manager
3    GreenEnergy      David Brown          Electrical Engineer
4       EduSmart        Eve Davis         Curriculum Developer
5      FinSecure     Frank Harris            Financial Analyst
6      AutoDrive        Grace Lee          Mechanical Engineer
7     BuildRight     Henry Wilson                    Architect
8       MediCare     Ivy Martinez           Nurse Practitioner
9      FarmFresh    Jack Robinson       Agricultural Scientist
10  BrightFuture      Kate Walker                   HR Manager
11      CloudNet       Liam Young             Network Engineer
12    TravelEase         Mia King            Travel Consultant
13     SafeGuard       Noah Scott             Security Analyst
14      QuickFix     Olivia Moore  Customer Support Specialist
15   HealthyLife       Paul Adams                 Nutritionist
16      TechNova     Quincy Baker              DevOps Engineer
17     EconoMart     Rachel Green                Store Manager
18      UrbanDev       Sam Carter                Urban Planner
19     MediaBuzz      Tina Rogers               Content Writer
20     GameWorld      Uma Sanchez               Game Developer
21    FreshFoods      Victor Reed                         Chef
22   SolarBright       Wendy Cook             Solar Technician
23       FitWell      Xavier Bell              Fitness Trainer
24     SmartTech      Yara Murphy        IT Support Specialist
25      AquaPure  Zachary Russell       Water Quality Engineer
26    GreenThumb    Aiden Coleman           Landscape Designer
27   BrightMinds     Brooke Hayes       Educational Consultant
28      MoveFast    Caleb Jenkins            Logistics Manager
29     SoundWave      Diana Perez               Audio Engineer
30    StyleHouse      Ethan Kelly             Fashion Designer
31   BuildStrong     Fiona Brooks         Construction Manager
32    PureHealth     Gavin Powell                   Pharmacist
33      TechGear    Hannah Foster              Product Manager
34       SkyHigh     Isaac Barnes           Aerospace Engineer
35      PlayTime         Jade Kim                 Toy Designer
36    CleanSweep       Kyle Ortiz        Janitorial Supervisor
37        BioGen      Lila Murray                   Biochemist
38    AutoMotive    Mason Daniels                Auto Mechanic
39     SmartHome      Nina Foster   Home Automation Specialist
40   DataInsight      Oscar Hayes                 Data Analyst
41     MegaStore     Paula Carter       Retail Sales Associate
42    BrightPath    Quinton Price             Career Counselor
43    HealthWave    Riley Jenkins           Physical Therapist
44   FoodieHaven  Sophia Mitchell                  Pastry Chef
45  EcoSolutions      Tyler James      Environmental Scientist
46  BrightLights      Ursula Reed          Lighting Technician
47    StyleElite   Victoria Grant                      Stylist
48     TechSavvy     William Gray        Systems Administrator